{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'gazou/css/reset.css' %}"/> -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'gazou/css/style.css' %}"/>
    <link rel="icon" href="../../static/gazou/image/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <a href="../gazou">メニュー(今後追加予定)</a>
        </nav>
    <h1>対象のユーザーIDが見つかりませんでした。上部メニューボタンからホームに戻れます。</h1>
</body>
</html>